@import "compass";
@import "flexbox";

// format our header
header, nav {
  text-align: center;
}

header h2, header h4{
  display: inline-block;
}

nav{
  position: sticky;
  position: -webkit-sticky;
  top:0;
  background-color:#fff;
  z-index:10;
}


// active category btn
// show selected category
nav[data-catactive="all"]     .button[data-mycat="all"],
nav[data-catactive="trans"]  .button[data-mycat="trans"],
nav[data-catactive="effects"]  .button[data-mycat="effects"],
nav[data-catactive="buttons"] .button[data-mycat="buttons"],
nav[data-catactive="panels"]  .button[data-mycat="panels"]{
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}


// row-based layout
section{
	width: 100%;
  display:none;
}
// color every-other
section:nth-child(even){
	background-color:#bfbfbf;
}
// show selected category
nav[data-catactive="all"]     ~ section.all ,
nav[data-catactive="trans"]   ~ section.trans,
nav[data-catactive="effects"] ~ section.effects,
nav[data-catactive="buttons"] ~ section.buttons,
nav[data-catactive="panels"]  ~ section.panels {
  display:block;
}




$row-height: 125px;
// center align, cross-browser mixins
$flex-legacy-enabled: true;
section>div.row>div.columns{
  height:$row-height;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  @include display-flex(inline-flex);
  /* vertical centering for legacy, horizontal centering for modern */
  @include justify-content(center);
  /* modern Flexbox only */
  @include align-items(center);
  /* legacy Flexbox only */
  @include legacy-flex-direction(column);
}

// reset content inside rows
section{
	div.row{
		div.columns{
			
			div.button{ margin: 0; }
			p { margin: 0; }

		}
	}
}

iframe {
  display:none;
}

textarea {
  height:500px;
  resize:vertical;
}

@import "buttons";
@import "animate"