/* line 5, ../sass/styles.scss */
header, nav {
  text-align: center;
}

/* line 9, ../sass/styles.scss */
header h2, header h4 {
  display: inline-block;
}

/* line 14, ../sass/styles.scss */
nav .button-group {
  display: -webkit-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}

/* line 29, ../sass/styles.scss */
nav[data-catactive="all"] .button[data-mycat="all"],
nav[data-catactive="intros"] .button[data-mycat="intros"],
nav[data-catactive="outros"] .button[data-mycat="outros"],
nav[data-catactive="buttons"] .button[data-mycat="buttons"],
nav[data-catactive="panels"] .button[data-mycat="panels"] {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}

/* line 38, ../sass/styles.scss */
section {
  width: 100%;
  display: none;
}

/* line 43, ../sass/styles.scss */
section:nth-child(even) {
  background-color: #bfbfbf;
}

/* line 51, ../sass/styles.scss */
nav[data-catactive="all"] ~ section.all,
nav[data-catactive="intros"] ~ section.intros,
nav[data-catactive="outros"] ~ section.outros,
nav[data-catactive="buttons"] ~ section.buttons,
nav[data-catactive="panels"] ~ section.panels {
  display: block;
}

/* line 61, ../sass/styles.scss */
section > div.row > div.columns {
  height: 125px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* vertical centering for legacy, horizontal centering for modern */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* modern Flexbox only */
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* legacy Flexbox only */
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
}

/* line 80, ../sass/styles.scss */
section div.row div.columns div.button {
  margin: 0;
}
/* line 81, ../sass/styles.scss */
section div.row div.columns p {
  margin: 0;
}

/* line 87, ../sass/styles.scss */
iframe {
  display: none;
}

/* line 91, ../sass/styles.scss */
textarea {
  height: 500px;
  resize: vertical;
}
